PGHOST='bokylog.ca1q2d4cnkkx.us-east-2.rds.amazonaws.com'
PGUSER="innoboky_bokylog"
PGDATABASE="boky-bd"
PGPASSWORD="Sfqq1THDKPSSelHse2k5"
PGPORT=5432
CATALOG_HOST="http://52.15.227.210:3000"
CTG_TASKID=179
CTG_CLOSETYPE=18
#DEPRECATED
#CTG_INITIATED_TASK_STATUS=194
#AUTH_COGNITO_REGION=us-east-1
#AUTH_COGNITO_POOLID=us-east-1_yEuiWIGUr
APP_PORT=3000
#AUTH_COGNITO_TKNEXPIRATION=36000000
JWT_SECRET=6bc2aa133af1c5a5f15d17c0513db2b5
JWT_EXPIRE_IN=2d
JWT_EXPIRE_REFRESH=10d
